.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(214, 214, 214);
    border-radius: 10px;
    padding: 2rem;
    gap: 10px;
    margin: 20px;
}

.checkboxLabel {
    transform: translateY(-2rem);
}

.customize {
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.badge {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 15rem;
}